.App{
    width: 30vw;
    height: 50vh;
    height: fit-content;
    margin: auto;
    margin-top: 20vh;
    box-shadow:  -5px 5px 10px 5px blue,0px 0px 10px 15px rgb(248, 165, 165) ;

    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #333333;
}